# sonarqube docker compose
version: '3.9'
services:
  sonarqube:
    image: "{{ sonarqube_image }}"
    restart: always
    healthcheck:
      test: wget -qO- http://localhost:9000/api/system/health
      interval: 10s
      retries: 5
      start_period: 5s
      timeout: 10s
    env_file:
      - "{{ sonarqube_config_path | expanduser }}/env.sonarqube.conf"
    ports:
      - "{{ sonarqube_http_port }}:9000"
    networks:
      - sonarqube-net
    volumes:
      - sonarqube_conf:/opt/sonarqube/conf
      - sonarqube_data:/opt/sonarqube/data
      - sonarqube_extensions:/opt/sonarqube/extensions
      - sonarqube_bundled-plugins:/opt/sonarqube/lib/bundled-plugins
    depends_on:
      - db

  db:
    image: "{{ sonarqube_db_image }}"
    restart: always
    healthcheck:
      test: /usr/bin/pg_isready -U "{{ sonarqube_db_user }}""
      interval: 5s
      timeout: 10s
      retries: 120
    env_file:
      - "{{ sonarqube_config_path | expanduser }}/env.db.conf"
    volumes:
      - sonarqube_db:/var/lib/postgresql
      - postgresql_data:/var/lib/postgresql/data
    networks:
      - sonarqube-net

volumes:
    postgresql_data:
    sonarqube_bundled-plugins:
    sonarqube_conf:
    sonarqube_data:
    sonarqube_db:
    sonarqube_extensions:

networks:
  sonarqube-net: {}
